@media(max-width: 860px) {
  .navbar {
    width: 100%;
    padding: 0;
    transform: translateY(45%);
    justify-content: space-between;

    > .item {
      font-size: 15px;
      }
    }

    .header {
      margin-top: 0;

    > .title {
      font-size: 25px;
      width: 260px;
      margin: 0 auto;
    }

    > .subtitle {
      font-size: 12px;
      }
    }

    .date-select-container {
      margin-top: 190px;
    }

    .date-select-box {
      padding: 15px 20px;
    }

    .calendar-container {
      margin-top: 40px;
      flex-wrap: wrap;
      flex-flow: column-reverse;
    }

    .check-calendar > .title {
      font-size: 16px;
    }

    .checkin-container {
      display: flex;
      width: 100%;
      justify-content: space-between;

      > .btn {
      padding: 0px 10px;
      margin-top: 42px;
      height: 50px;
      }

      > .check-calendar {
        margin-top: 25px;
        margin-bottom: 0px;
        }
    }
    .flatpickr-calendar {
      margin: 0 auto;
    }

    .date-message {
      margin-top: -100px;
    }

    .filter-container {
      width: 100%;
    }

    .content-block {
      padding: 0 15px;
      box-sizing: border-box;
    }

    .card {
    min-height: 700px;
    padding: 40px 7px;
    box-sizing: border-box;

      > .price {
        margin: 21px -7px 0;
        border-top: 2px solid #D8D8D8;
        border-left: none;
        width: calc(100% + 14px);
        text-align: center;
        padding: 0;

        > .text-green {
          font-size: 70px;
        }

        > .text-gray {
          margin: 15px auto;
          font-size: 22px;
        }
      }

      > .image {
        margin: 0 auto;
      }

      > .content {
        margin: 0 auto;

        > .text-orange {
          font-size: 14px;
        }

        > .back-button {
          top: 46%;
          margin-right: 2px;
        }
      }
    }

    .hotel-information {
      display: flex;
      justify-content: space-around;
    }

    .back-button > .text {
      font-size: 11px;
      margin-top: 12px;
    }
}
