.btn {
  font-weight: 700;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  background-color: $white;
  min-width: 50px;
  border-radius: 55px;
  border: 1px solid;
  padding: 12px 35px;
  cursor: pointer;

  &.-large {
    border-width: 2px;
    padding: 15px 45px;
  }

  &.-orange {
    color: $orange;
    border-color: $orange;

    &:hover {
      color: $white;
      background-color: $orange;
    }
  }

  &.-green {
    color: $green;
    border-color: $green;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }
}
