.card {
  display: flex;
  flex-wrap: wrap;
  max-width: 837px;
  width: 100%;
  padding: 40px 0;
  box-shadow: $default-lighter-box-shadow;
  float: right;
  position: relative;


  > .image {
    margin-left: -60px;
    width: 237px;
    height: 237px;
    box-shadow: $default-lighter-box-shadow;
  }

  > .content {
    max-width: 400px;
    width: 100%;
    min-height: 216px;
    margin-left: 45px;
    transition: all .2s ease-in-out;

    &.-larger {
      max-width: 565px;
    }

    > * {
      margin-top: 28px;
    }

    > :first-child {
      margin-top: 7px;
    }

    > .text-orange {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 500;
      line-height: 1.6em;
    }

    > .text-gray {
      font-size: 15px;
    }

    > .back-button {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 40px;
    }
  }

  > .price {
    margin: 0 auto;
    padding-top: 95px;
    padding-left: 20px;
    border-left: 2px solid $gray-light;

    > .text-green {
      font-family: $title-font;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 4px;
      margin: 0;
    }

    > .text-gray {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 100;
    }
  }
}

.back-button {
  display: flex;
  cursor: pointer;

  > .text {
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 7px;
  }

  > .-pointer-left {
    margin-top: 11px;
  }
}

.card + .card {
  margin-top: 35px;
}
