.content-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 200px;
  justify-content: space-between;
}

#main-content {
  transition: all .3s ease-in-out;
}

.hotel-cards-container {
  transition: all .3s ease-in-out;
  max-width: 900px;
  width: 100%;
  margin-top: 40px;
}
