.calendar-container {
  > .flatpickr-calendar {
    box-shadow: none;
    border-top: 1px solid $gray-light;

    > .flatpickr-month {
        margin: 20px auto;

        > .flatpickr-current-month {
          font-size: 16px;
          font-family: $text-font;

          > .cur-month {
            font-weight: 100;
          }
        }
    }

    span.flatpickr-weekday {
      display:block;
      color: transparent;
      padding-left: 14px;
      font-size: 15px;
      font-family: "Heebo";
      border-bottom: 1px solid $gray-light;
      padding-bottom: 5px;

      &:first-letter {
        color: $gray !important;
      }
    }

    .flatpickr-day {
      transition: all .1s ease-in-out;

      &:hover, &.selected, &.startRange, &.inRange {
        background-color: $green;
        border-color: $green;
      }

      &.startRange, &.endRange {
        color: $black;
        box-shadow: 25px 0 0 $green, 5px 0 0 $green;
      }

      &.endRange {
        border-radius: 50px;
        background-color: $white;
        -webkit-box-shadow: -17px 0 0 $green, -10px 0 0 $green;
        box-shadow: -17px 0 0 $green, -10px 0 0 $green;
      }

      &.inRange {
        -webkit-box-shadow: -5px 0 0 $green, 5px 0 0 $green;
        box-shadow: 25px 0 0 $green, 5px 0 0 $green;
      }

      &.startRange + &.inRange {
        box-shadow: -5px 0 0 $green, 5px 0 0 $green;
      }

      &.inRange.endRange {
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &.selected.startRange + .endRange, &.startRange.startRange + .endRange, &.endRange.startRange + .endRange {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
