.date-select-container {
  width: 100%;
  background-color: $white;
  margin-top: 260px;

  > .date-select-box {
      position: relative;
      top: -160px;
  }
}

.date-select-box {
  max-width: 750px;
  padding: 30px 80px;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: $default-box-shadow;
  -moz-box-shadow: $default-box-shadow;
  box-shadow: $default-box-shadow;


  > .title-default {
    text-align: center;
  }

  //> .shadow {
    //border-radius: 0 0 250px 250px;
    //-webkit-box-shadow: $default-box-shadow;
    //-moz-box-shadow: $default-box-shadow;
    //box-shadow: $default-box-shadow;
    //content: "";
    //display: block;
    //height: 350px;
    //left: 0;
    //position: absolute;
    //top: 0;
    //width: 100%;
    //z-index: -1;
  //}
}

.calendar-container {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.check-calendar {
  margin-bottom: 50px;
  letter-spacing: $default-letter-spacing;

  > .title {
    font-size: 18px;
    color: $gray-dark;
    font-weight: lighter;
    font-weight: 400;
    margin-bottom: 15px;
  }

  > .date {
    margin-top: 0;
    min-height: 30px;
  }
}
