.filter-container {
  width: 291px;
  text-align: left;

  > .price-range {
    width: 100%;
  }

  > .title-default {
    margin-bottom: 45px;
  }
}

.price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-light;
  padding-bottom: 15px;
  margin-bottom: 15px;

  .text-orange.-lighter {
    margin-top: 7px;
  }
}


.stars-container {
  display: flex;
  margin-top: 10px;
}
