.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  box-shadow: $default-box-shadow;

  > .social-network-box {
    display: inline-flex;
    width: 120px;
    justify-content: space-between;
  }

  > .disclaimer {
    color: $gray;
    font-size: 12px;
    margin-top: 30px;
  }
}
