.header {
  text-align: center;
  margin: 50px auto 0;
  color: $white;
  font-stretch: expanded;
  max-width: 600px;
  width: 100%;

  > .icon {
    margin: 0 auto;
  }

  > .title {
    letter-spacing: 13px;
    line-height: 1.4em;
    font-size: 75px;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    margin: 0;
  }

  > .subtitle {
    letter-spacing: 4px;
    font-size: 20px;
  }
}
