.icon {
  &.-crown {
    background: url("../images/crown.svg") no-repeat;
    width: 50px;
    height: 50px;
  }

  &.-facebook {
    background: url("../images/facebook.svg") no-repeat;
    width: 34px;
    height: 34px;
  }

  &.-twitter {
    background: url("../images/twitter.svg") no-repeat;
    width: 34px;
    height: 34px;
  }

  &.-instagram {
    background: url("../images/instagram.svg") no-repeat;
    width: 34px;
    height: 34px;
  }

  &.-star {
    background: url("../images/star-outline.svg") no-repeat;
    width: 27px;
    height: 25px;

    &.-filled {
      background: url("../images/star-filled.svg") no-repeat;
    }

    &.-smaller {
      width: 13px;
      height: 12px;
    }
  }

  &.-pointer-left {
    background: url("../images/back-description.svg") no-repeat;
    width: 26px;
    height: 14px;
  }
}
