input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.35px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.3px;
  cursor: pointer;
  background: $orange;
  border-radius: 25px;
}

.price-range.multirange.ghost[type=range]::-webkit-slider-runnable-track {
  background: $transparent;
}

input[type=range]::-webkit-slider-thumb {
  border: 4px solid $orange;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: $white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $orange;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.3px;
  cursor: pointer;
  background: $orange;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  border: 4px solid $orange;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: $white;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
  background: $orange;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  border: 4px solid $orange;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: $white;
  cursor: pointer;
  height: 5.3px;
}
input[type=range]:focus::-ms-fill-lower, input[type=range]:focus::-ms-fill-upper {
  background: $orange;
}

input[type="range"][multiple] {
  display: block;
  height: 2em;
  margin: 0;
  pointer-events: none;
}
input[type="range"][multiple] + input[type="range"][multiple] {
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}

input[type="range"]::-ms-thumb {
  pointer-events: all;
}
