.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  align-items: center;
  color: $white;
  z-index: 10;
  transition: background .3s ease-in-out;
  transition: color .2s ease-in-out;

  &.white {
    box-shadow: $default-box-shadow;
    background-color: $white;
    color: $black;
  }
}

.navbar {
  font-family: $title-font;
  display: inline-flex;
  list-style: none;
  transform: translateY(160%);
  color: inherit;
  margin: 0;

  > .item {
    margin: 0 30px;
  }
}
