.graph {
  width: 100%;
  text-align: center;
  position: relative;
  height: 177px;

  li {
    max-width: 27px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
  }

  > .values-container {
    bottom: 27px;
    height: calc(100% - 27px);

    > li > div {
      width: 100%;
      height: 100px;
      background: red;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      opacity: 0.7;
      background: $chart-orange-gradient;
      background: -webkit-linear-gradient($chart-orange-gradient, $chart-red-gradient);
      background: -o-linear-gradient($chart-orange-gradient, $chart-red-gradient);
      background: -moz-linear-gradient($chart-orange-gradient, $chart-red-gradient);
      background: linear-gradient($chart-orange-gradient, $chart-red-gradient);
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: 1;

        .tooltip {
          display: block;
        }
      }

      > .tooltip {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  > .labels-container {
    bottom: 0;
    border-top: 1px solid $gray-light;
    padding-top: 10px;
    color: $gray-light;
  }
}

.tooltip {
  display: none;
  color: white;
  background: #484848;
  padding: 5px 7px;
  border-radius: 4px;
  transition: opacity .3s ease-in-out;

  &:after {
      content: "";
      position: absolute;
      bottom: -6px;
      right: 21px;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #484848;
      left: 50%;
      transform: translateX(-50%);
  }
}
