article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

h1, h2, h3, h5, h6 {
    font-family: $title-font;
}

h4 {
  font-family: $text-font;
}

figure {
    margin: 0
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: $text-font;
    position: relative
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html, body {
    height: 100%
}
