.title-default {
  font-family: $title-font;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
}

.text-gray {
  color: $gray;
  font-family: $text-font;
  font-size: 12px;
  line-height: 1.4em;

  &.-small {
    font-size: 8px;
  }
}

.text-orange {
  color: $orange;
  font-family: $text-font;
  font-size: 22px;

  &.-lighter {
    opacity: 0.47;
  }
}

.text-green {
  color: $green;
  font-family: $text-font;
  font-size: 22px;
}

.-text-center {
  text-align: center;
}

.-text-right {
  text-align: right;
}

.date-message {
  margin-top: -60px;
  margin-bottom: 35px;
}

.no-result-message {
    text-align: center;
    color: $gray-light;
}
