@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

$title-font: "Montserrat",sans-serif;
$text-font: "Heebo",sans-serif;

$home-background: url("../images/hero-background.jpg");

$white: #FFFFFF;
$black: #000000;
$gray-dark: #555555;
$gray: #B5B5B5;
$gray-light: #D8D8D8;
$orange: #F98100;
$green: #79BD1A;
$transparent: transparent;
$chart-red-gradient: #EE6F48;
$chart-orange-gradient: #F98100;

$navbar-height: 70px;

$default-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
$default-lighter-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

$default-letter-spacing: 3px;
